* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  background-color: #cde6f5;
  font-family: 'Raleway', sans-serif;
}

#signup {
  background-color: #58e2c2;
  border: solid 1px white;
}

#signup:hover {
  border: solid 1px #cde6f5;
}

.container {
  padding: 100px;
}

.chirpLogo {
  font-size: 20px;
}

.logoFont {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}

h1 {
  font-family: 'Pacifico', cursive;
}

label {
  font-family: 'Raleway', sans-serif;
}

body {
  background: url(../images/homescreenbackground.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn {
  background-color: #58E2C2;
  border: none;
  font-family: 'Raleway', sans-serif;
}
