*{box-sizing: border-box;}
img{width: 100%;}
body{
  background-color: #cde6f5;
  font-family: 'Raleway', sans-serif;
}
#signup{
  background-color: #58e2c2;
  border: solid 1px white;
}
#signup:hover{
  border: solid 1px #cde6f5;
}
.container{
  padding: 100px;
}
.chirpLogo{
  font-size: 20px;
}
.logoFont{
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}
