*{box-sizing: border-box;}
img{width: 100%;}
body{
  background-color: #cde6f5;
  font-family: 'Raleway', sans-serif;
}
h1 {
    font-family: 'Pacifico', cursive;
}
label {
    font-family: 'Raleway', sans-serif;
}
