body {
  background: url(../images/badcredentialsbackground.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn {
  background-color: #58E2C2;
  border: none;
  font-family: 'Raleway', sans-serif;
}

h4 {
  margin-bottom: 20px;
}

.badCredentials {
    body {
      background: url(../images/badcredentialsbackground.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
}


// @media screen and (max-width: 555px) {
//   body {
//     background: url(../images/homescreenbackgroundmobile.jpg) no-repeat center center fixed;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     background-size: cover;
//   }
//     .container {
//         display: flex;
//     }
//
//     .form-group {
//       flex: 1;
//     }
// }
