#signup{
  background-color: #58e2c2;
  border: solid 1px white;
}
#signup:hover{
  border: solid 1px #cde6f5;
}
.container{
  padding: 100px;
}
.chirpLogo{
  height: 200px;
  width: 300px;
}
.logoFont{
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}
